FORMAT: 1A
HOST: https://drill.fprochazka.com/

# PB138: Drill

## Drills Collection [/drill]

### List all drills [GET]

+ Response 200 (application/json)

        [
            {
                "id": "123",
                "name": "PB138"
            }
        ]

### Create new drill [POST]


+ Request (application/json)

        {
            "name": "PB138"
        }

+ Response 201 (application/json)

    + Headers

            Location: /drill/123

    + Body

            {
                "id": "123",
                "name": "PB138"
            }
            
## Questions Collection [/drill/{drill_id}/question]

+ Parameters
    + drill_id (number) - ID of the relevant drill

### List questions in drill [GET]

+ Response 200 (application/json)

    + Body
        
            [
                {
                    "id": 44,
                    "text": "Ako sa mas??"
                    "answers": [
                        { "text": "Super!", "correct": true },
                        { "text": "Fakt naprd...", "correct": false }
                    ]
                }
            ]

### Add new question to drill [POST]

+ Request (application/json)
            
    + Body

            {
                "text": "Ako sa mas??"
                "answers": [
                    { "text": "Super!", "correct": true },
                    { "text": "Fakt naprd...", "correct": false }
                ]
            }
        
+ Response 201 (application/json)

    + Headers

            Location: /drill/123/question/44

    + Body
        
            {
                "id": 44,
                "text": "Ako sa mas??"
                "answers": [
                    { "text": "Super!", "correct": true },
                    { "text": "Fakt naprd...", "correct": false }
                ]
            }

## Question [/drill/{drill_id}/question/{question_id}]

+ Parameters
    + drill_id (number) - ID of the relevant drill
    + question_id (number) - ID of the question

### Read question [GET]

+ Response 200 (application/json)

    + Body
        
            {
                "id": 44,
                "text": "Ako sa mas??"
                "answers": [
                    { "text": "Super!", "correct": true },
                    { "text": "Fakt naprd...", "correct": false }
                ]
            }

### Update question [PUT]

+ Request (application/json)

        {
            "text": "Ako sa mas??"
            "answers": [
                { "text": "Super!", "correct": true },
                { "text": "Fakt naprd...", "correct": false }
            ]
        }

+ Response 200 (application/json)

    + Body
        
            {
                "id": 44,
                "text": "Ako sa mas??"
                "answers": [
                    { "text": "Super!", "correct": true },
                    { "text": "Fakt naprd...", "correct": false }
                ]
            }