FORMAT: 1A
HOST: https://drill.fprochazka.com/

# PB138: Drill

## Drills Collection [/drill]

### List all drills [GET]

+ Response 200 (application/json)

        {
            "drills": [
                {
                    "id": "5df783c6-0b09-4f1f-9db3-b22c5c9d003a",
                    "code": "PB138",
                    "name": "English II"
                },
                {
                    "id": "49643939-182d-499e-8988-8be6606d41e1",
                    "code": "MB102",
                    "name": "Diferenciální a integrální počet"
                },
                {
                    "id": "e5ccce88-3bd1-4955-b128-b88dd8d4eb60",
                    "code": "MB103",
                    "name": "Spojité modely a statistika"
                },
                {
                    "id": "c84fa430-0555-4198-a501-c3fee7ae4877",
                    "code": "MB104",
                    "name": "Diskrétní matematika"
                }
            ]
        }

### Create new drill [POST]

+ Request (application/json)

        {
            "code": "PB138",
            "name": "English II"
        }

+ Response 201 (application/json)

    + Headers

            Location: /drill/e5ccce88-3bd1-4955-b128-b88dd8d4eb60

    + Body

            {
                "id": "e5ccce88-3bd1-4955-b128-b88dd8d4eb60",
                "code": "PB138",
                "name": "English II"
            }

## Drill [/drill/{drill_id}]

+ Parameters

    + drill_id (uuid) - ID of relevant user

### Read drill [GET]

+ Response 200 (application/json)

    + Body
        
            {
                "id": "e5ccce88-3bd1-4955-b128-b88dd8d4eb60",
                "code": "PB138",
                "name": "English II"
            }

### Update drill [PUT]

+ Request (application/json)

    + Body

            {
                "code": "PB138",
                "name": "English 2"
            }

+ Response 200 (application/json)

    + Body
        
            {
                "id": "e5ccce88-3bd1-4955-b128-b88dd8d4eb60",
                "code": "PB138",
                "name": "English 2"
            }

## Questions Collection [/drill/{drill_id}/question]

+ Parameters
    + drill_id (uuid) - ID of the relevant drill

### List questions in drill [GET]

+ Response 200 (application/json)

    + Body

            {
                "questions": [
                    {
                        text: "I wish it _____ as simple as that, Joey, but unfortunately it isn't.",
                        answers: [
                            {isCorrect: false, text: "is"},
                            {isCorrect: true, text: "was"},
                            {isCorrect: false, text: "would be"}
                        ]
                    },
                    {
                        text: "A specialized language for requesting information from ...",
                        answers: [
                            {isCorrect: false, text: "an inquiry language"},
                            {isCorrect: false, text: "a question language"},
                            {isCorrect: true, text: "a query language"},
                            {isCorrect: false, text: "a search language"}
                        ]
                    },
                    {
                        text: "Which of the following statements is not true?",
                        answers: [
                            {isCorrect: true, text: "A data dictionary contains actual data from the database."},
                            {isCorrect: false, text: "A data dictionary holds information about the data it stores."},
                            {isCorrect: false, text: "A data dictionary is an integral part of a database."},
                            {isCorrect: false, text: "A data dictionary is sometimes called a repository."}
                        ]
                    }
                ]
            }

### Add new question to drill [POST]

+ Request (application/json)
            
    + Body

            {
                "text": "Ako sa mas??"
                "answers": [
                    { "text": "Super!", "correct": true },
                    { "text": "Fakt naprd...", "correct": false }
                ]
            }
        
+ Response 201 (application/json)

    + Headers

            Location: /drill/e5ccce88-3bd1-4955-b128-b88dd8d4eb60/question/0d58d80d-5616-4242-acd5-e75ede8cc0de

    + Body
        
            {
                "id": "0d58d80d-5616-4242-acd5-e75ede8cc0de",
                "text": "Ako sa mas??"
                "answers": [
                    { "text": "Super!", "correct": true },
                    { "text": "Fakt naprd...", "correct": false }
                ]
            }

## Question [/drill/{drill_id}/question/{question_id}]

+ Parameters
    + drill_id (uuid) - ID of the relevant drill
    + question_id (uuid) - ID of the question

### Read question [GET]

+ Response 200 (application/json)

    + Body
        
            {
                "id": "0d58d80d-5616-4242-acd5-e75ede8cc0de",
                "text": "Ako sa mas??"
                "answers": [
                    { "text": "Super!", "correct": true },
                    { "text": "Fakt naprd...", "correct": false }
                ]
            }

### Update question [PUT]

+ Request (application/json)

        {
            "text": "Ako sa mas??"
            "answers": [
                { "text": "Super!", "correct": false },
                { "text": "Fakt naprd...", "correct": true },
                { "text": "Idem na pivo.", "correct": true }
            ]
        }

+ Response 200 (application/json)

    + Body
        
            {
                "id": "0d58d80d-5616-4242-acd5-e75ede8cc0de",
                "text": "Ako sa mas??"
                "answers": [
                    { "text": "Super!", "correct": false },
                    { "text": "Fakt naprd...", "correct": true },
                    { "text": "Idem na pivo.", "correct": true }
                ]
            }
            
## Exam Collection [/user/{user_id}/exam]

+ Parameters

    + user_id (uuid) - ID of relevant user
    
### Create new exam [POST]

+ Request (application/json)

            {
                "drillId": "0d58d80d-5616-4242-acd5-e75ede8cc0de"
            }

+ Response 201 (application/json)

    + Headers

            Location: /user/{user_id}/exam/1

    + Body
    
            {
                "id": 1,
                "drillId": "0d58d80d-5616-4242-acd5-e75ede8cc0de",
                "answers": []
            }
            
### List all exams [GET]

+ Response 200 (application/json)

    + Body
    
            {
                "exams": [
                    {
                        "id": "6a7f2b1c-37fa-4674-9a9f-d005a131db75",
                        "drillId": "0d58d80d-5616-4242-acd5-e75ede8cc0de"
                    }
                ]
            }


            
## Exam [/user/{userId}/exam/{examId}]

+ Parameters

    + userId (uuid) - ID of relevant user
    + examId (uuid) - ID of relevant exam

### Get exam details [GET]

+ Response 200 (application/json)

    + Body
    
            {
                "id": "6a7f2b1c-37fa-4674-9a9f-d005a131db75",
                "drillId": "0d58d80d-5616-4242-acd5-e75ede8cc0de",
                "answers": [ 
                    {
                        "questionId": "0d58d80d-5616-4242-acd5-e75ede8cc0de",
                        "correct": 0,
                        "wrong": 0
                    }
                ]
            }

### Answering questions [POST]

+ Request (application/json)

        {
            "answers": [
                {
                    "questionId": "6a7f2b1c-37fa-4674-9a9f-d005a131db75",
                    "correct": true
                }, 
                {
                    "questionId": "05017834-6be7-4046-a351-7d22d577efb3",
                    "correct": false
                }
            ]
        }
        
+ Response 200 (application/json)